.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  height: var(--header-height);
  background-color: var(--container-color);
}

.container {
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.logo {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.logo span {
  color: var(--body-color);
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.openMenu,
.closeMenu {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: background 0.4s ease;
  z-index: var(--z-fixed);
}

.openMenu:hover,
.closeMenu:hover {
  background: var(--grey-color);
}
.nav-list,
.socials-link {
  display: flex;
  gap: 1rem;
}

a {
  color: var(--body-color);
  font-size: var(--normal-font-size);
  transition: color 0.4s ease;
}

a:hover {
  color: var(--first-color);
}

.input-container {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  background: var(--body-color);
  position: relative;
  overflow: hidden;
}

.input-container input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 30px;
  padding-inline: 0.75rem;
  color: var(--container-color);
  border: none;
  outline: none;
  background-color: none;
}
.input-container input::placeholder {
  color: var(--grey-color);
  font-size: var(--small-font-size);
}

.input-container i {
  position: absolute;
  font-size: var(--normal-font-size);
  line-height: 30px;
  right: 0.75em;
}
.label {
  display: inline-block;
  padding-left: 0.125rem;
}

.socials-link i {
  color: var(--first-color);
}

@media screen and (max-width: 1200px) {
  .label {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .input-container {
    width: 40px;
    height: 40px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-container input {
    display: none;
  }

  .input-container i {
    color: var(--body-color);
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    width: 100vw;
    height: 25vh;
    position: fixed;
    top: -100%;
    left: 0;
    background: var(--container-color-second);
    justify-content: center;
    align-items: center;
    transition: top 0.4s ease;
    z-index: calc(var(--z-fixed) + 1);
  }

  .navbar.toggled {
    top: 0;
  }
  .openMenu,
  .closeMenu {
    display: block;
  }

  .closeMenu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}
